.nn{
    display: flex;
    gap: 120px;
    background-color:  rgb(137, 137, 137); 
    margin-bottom: 0px;
}
.mm{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    
}
.km{
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.mo{
    text-decoration: none;
    background-color: orangered;
    color: white;
    height: 30px;
    margin-top: 15px;
    border: none;
    font-weight: bold;
}
.mo:hover{
    background-color: rgb(247, 174, 147);
}
.v{
    background-image: url("gym1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
.p{
    color: white;
    font-weight: bold;
    text-align: center;
}
.h{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}
.mml{
    text-decoration: none;
    background-color: orangered;
    color: white;
    height: 40px;
    border: none;
    margin-left: 600px;

}
.mml:hover{
    background-color: rgb(247, 174, 147);
}
.hn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ml{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.ol{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.lo{
    text-align: center;
    font-weight: bold;
}
.nj{
    display: flex;
    gap: 30px;
}
.ik{
    text-decoration: none;
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.im{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    box-shadow: 0px 2px 10px #ccc;
    border-radius: 10px;
}
.mj{
    display: flex;
    gap: 30px;
}
.li{
    display: flex;
    gap: 5px;
    margin-left: 100px;
    margin-top: 40px;
}
.ui{
    display: flex;
    gap: 5px;
    margin-left: 100px;
    margin-top: 40px;  
}
.mi{
    display: flex;
    gap: 5px;
    margin-left: 100px;
    margin-top: 40px;
}
.ue{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.bi{
    text-align: center;
    color: white;
}
.hj{
    background-image: url("gym\ 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 90px;
    width: 1200px;
    margin-left: 60px;
}
.mll{
    background-color: orangered;
    color: white;
    height: 40px;
    border: none;
    margin-left: 550px;
}
.mll:hover{
    background-color: rgb(247, 174, 147);
}
.es{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 90px;
    font-size: 30px;
}
.my{
    text-align: center;
    margin-top: 10px;
}
.pp{
    display: flex;
    gap: 10px;
    box-shadow: 0px 2px 9px #ccc;
    width: 250px;
    margin-top: 30px;
    font-weight: bold;
    padding-left: 20px;
    height: 55px;
    padding-top: 10px;
    transition:.3s all ease;

}
.pp:hover{
    transform:scale(1.1);
}
.ku{
    width: 270px;
    height: 35px;
    background-color: orangered;
    border: none;
    margin-top: 50px;
    box-shadow: 0px 5px 10px #ccc;
    border-radius: 5px;
    
}
.ku:hover{
    background-color: rgb(252, 177, 151);
}
.er{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
.yr{
    width: 150px;
    height: 35px;
    background-color: orangered;
    border: none;
    box-shadow: 0px 5px 10px #ccc;
    border-radius: 5px;
}
.yr:hover{
    background-color: rgb(247, 174, 147);
}
.gm{
    width: 800px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #ccc;
}
.ms{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.wq{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.gg{
    display: flex;
    gap: 90px;
    margin-left: 100px;
    margin-top: 80px;
}
.ry{
    margin-top: 30px;
}
.yu{
    width: 900px;
    border: 1px solid white;
    border-collapse: collapse;
    margin-left: 200px;
}
td{
    border: 1px solid white;
    height: 100px;
    border-collapse: collapse;
    color: white;
    text-align: center;
    font-weight: bold;
}
.nu{
    background-image: url("gym6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    height: 1000px;
    margin-top: 100px;
    
}
.ki{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-bottom: 30px;
}
.ju{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
.jr{
    color: white;
    text-align: center;
    padding-bottom: 30px;
}
.oo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ip{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 60px;
}
.mg{
    width: 190px;
    height: 120px;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}
.in{
    color: orangered;
    font-weight: bold;
}

.ri{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.we{
    box-shadow: 0px 0px 12px rgb(115, 114, 114);
    width: 240px;
    border-radius: 17px;
    transition:.3 all ease;
}
.we:hover{
    transform:scale(1.1);
}
.ti{
    padding-bottom: 25px;
}
.ky{
    display: flex;
    gap: 120px;
    margin-left: 200px;
    margin-top: 110px;
}
.ar{
    padding-left: 15px;
}
.y{
    width: 510px;
    height: 30px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}
.c{
    width: 510px;
    padding-bottom: 110px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}
.i{
    height: 30px;
    color: black;
    font-weight: bold;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
}
.r{
    height: 30px;
    color: black;
    font-weight: bold;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
}
::placeholder{
    color: black;
    font-weight: bold;
}
.j{
    width: 150px;
    height: 30px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.j:hover{
    background-color: rgb(247, 174, 147);
}
.ho{
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-left: 60px;
    margin-top: 100px;

}
.rw{
    display: flex;
    gap: 90px;
    background-image: url("gym\ 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    
}
.ee{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
.foot{
    text-align: center;
    font-weight: bold;
}

@media (max-width: 600px) {
    .nn{
        display: flex;
        gap: 19px;
        font-size: 7px;
        padding-bottom: 8px;
    }
    .mo{
        font-size: 7px;
        height: 10px;
        padding-left: 3px;
    }
    .p{
        font-size: 10px;
        margin-left: 0px;
    }
    .h{
        font-size: 30px;
        margin-left: 0px;
    }
    .mml{
        margin-left: 170px;
        height: 15px;
    }
    .ml{
        font-size: 8px;
        padding-bottom: 8px;
    }
    .ol{
        font-size: 12px;
        margin-right: 65px;
    }
    .lo{
        font-size: 8px;
        margin-right: 70px;
    }
    .li{
        display: block;
    }
    .im{
        width: 50px;
        height: 30px;
    }
    .hn{
        font-size: 11px;
    }
    .ih{
        font-size: 7px;
    }
    .li{
        display: block;
        margin-left: auto;
    }
    .mi{
        display: block;
        margin-left: auto;
    }
    .ui{
        display: block;
        margin-left: auto;
    }
    .ik{
        font-size: 7px;
    }
    .ue{
        font-size: 12px;
    }
    .bi{
        font-size: 10px;
    }
    .hj{
        width: 300px;
        margin-left: auto;
        margin-left: 60px;
    }
    .mll{
        margin-left: auto;
        margin-left: 97px;
        height: 10px;
        font-size: 8px;
    }
    .ml{
        font-size: 8px;
    }
    .gg{
        display: block;
        margin-left: auto;

    }
    .es{
        font-size: 12px;
        text-align: justify;
        margin-left: 170px;
    }
    .my{
        font-size: 8px;
        text-align: center;
        
        
    }
    .pp{
        width: 200px;
        margin-left: 90px;
    }
    .pp p {
        font-size: 13px;
    }
    .ku{
        width: 80px;
        margin-left: 160px;
    }
    .er{
        font-size: 13px;
    }
    .gm{
        width: 220px;
        height: 160px;
        margin-left: 90px;
    }
    .ms{
        font-size: 18px;
        text-align: center;
    }
    .nm{
        font-size: 8px;
        text-align: center;
    }
    .yr{
        width: 80px;
        height: 23px;
        margin-left: 160px;
    }
    .wq{
        font-size: 8px;
    }
    .yu{
        width: auto;
        height: auto;
        margin-left: auto;
        margin-left: 80px;
        
    }
    .nj{
      margin-left: 60px;
    }
    .mj{
     margin-left: 60px;
    }
    
    
    td{
        width: auto;
        height: auto;
        font-size: 9px;
        margin-left: 30px;
    }
    .ki{
        font-size: 13px;
        text-align: 0px;
    }
    .ju{
        font-size: 8px;
    }
    .jr{
        font-size: 11px;
    }
    .nu{
        height: 400px;
        border-radius: 10px;
    }
    .oo{
        font-size: 12px;
    }
    .ip{
        font-size: 8px;
    }
    .ho{
      font-size: 13px;
      margin-left: 120px;
    }
    .rw{
       display: block;
    }
    .in{
        font-size: 10px;
    }
    .ri{
        font-size: 12px;
    }
    .ti{
        font-size: 8px;
    }
    .ee{
       width: 200px;
       padding-left: 30px;
       margin-left: 60px;
    }
    .i{
       width: 180px;
       height: 25px;
    }
    .r{
        width: 180px;
        height: 25px;
    }
    .y{
        width: 180px;
        height: 25px;
    }
    .c{
        width: 180px;
        height: 25px;
    }
    .j{
        width: 180px;
        height: 25px;
    }
    .j value{
        height: auto;
    }
    .foot{
        font-size: 10px;
    }




}